<div layout="column" flex>
    <md-toolbar class="md-theme-light" layout="row" layout-align="space-between center">
        <h2 class="md-toolbar-tools">
            <span>Hacker news</span>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="refresh" ng-click="str.reloadList()">
                <md-tooltip md-direction="left">
                    Refresh
                </md-tooltip>
                <md-icon md-font-icon="fa-refresh" class="fa" style="font-size:24px;"></md-icon>
            </md-button>
        </h2>
    </md-toolbar>
    <div layout="column" flex>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Top stories" ng-click="str.selectViewType('top', 'getTopStoriesList', 'topStories')">
                <stories-list list="str.StoriesService.topStories"></stories-list>
            </md-tab>
            <md-tab label="Newest" ng-click="str.selectViewType('newest', 'getNewStoriesList', 'newStories')">
                <stories-list list="str.StoriesService.newStories"></stories-list>
            </md-tab>
        </md-tabs>
    </div>
    <div layout="row" layout-align="center center">
        <md-progress-circular ng-show="str.StoriesService.loading" md-mode="indeterminate" md-diameter="192"></md-progress-circular>
    </div>
</div>
